
.hmenu {

	margin: 15px;
	margin-top: 2.5vh;
	text-shadow: -1px -1px 1px black;
	font-size: 1em;

}

.link { color: #b7b7b7; } 
.link:hover { color: #ffe9bd; } .link:active { color: #ffe9bd; } 
html{
	background-image: url(textile.jpg);
}
#s{
	text-align: center;
	background-image: url(textile.jpg);
	height:7vh;


}
.menu{
	display:flex;
	flex-direction: row;
	list-style: none;




}
a{
	margin-top: 10px;
}
.linksp { color: #62cfde; text-shadow: none; } 
.linksp:hover { color: #ffe9bd;text-shadow: none; } 


.search{
	height: 3vh;
	margin-left: 60vh;
	margin-top: 2vh;
	width: 145px;

	
	
	border: none;
	border-radius: 5px;
	line-height: 18px !important;
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
	box-shadow: -1px -1px 1px #464a4b;
	background: #abadac;

	
}
.btn{
	width: 1vh;
	height: 3vh;
	margin-top: 2vh;
	margin-left: 1vh;
}
#deco{
	margin
}


.eme{
display: flex;
flex-direction: row;


}
button{

	color: #44484d;
	background: #fff;
	border: 1px solid #cfd1d3;
	border-radius: 3px;
	font-size: 1em;
	margin-left: 5px;
	padding: 3px 6px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;

}

.leftmenu{

}
li{
	margin-right: 3vh;
}